*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    background-color: rgba(1, 7, 17, 0.95);
    padding: 1rem 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.right-nav img{
    width: 12rem;
    height: 10rem;
}
.left-nav{
    text-align: right;
}
.left-nav img{
    width: 1.5rem;
    display: inline-block;
    margin-top: 1rem;
}
.main{
    background-color: rgb(14,20,40);
    height: 120vh;
    padding: 5rem 3rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 3rem;
    font-family: "Outfit", sans-serif;
}
.main-one{
    background-image: linear-gradient(to right bottom, #0e1428, rgba(14, 20, 40, 0.5));
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048);
    padding: 3rem 1rem;
    border-radius: 6px;
    border: 1.5px solid rgba(232, 111, 24, 0.7);
    max-height: 18rem;
}
.main-one-two{
    background-image: linear-gradient(to right bottom, #0e1428, rgba(14, 20, 40, 0.5));
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048);
    padding: 4rem 1rem;
    border-radius: 6px;
    border: 1.5px solid rgba(232, 111, 24, 0.7);
    max-height: 12rem;
}
.main-one-three{
    background-color: rgba(1, 7, 17, 0.8);
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048);
    padding: 4rem 1rem;
    border-radius: 6px;
    border: 1.5px solid rgba(232, 111, 24, 0.7);
    max-height: 12rem;
}
.main-one-bottom{
    background-color: rgba(1, 7, 17, 0.8);
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048);
    padding: 2rem 1rem;
    border-radius: 6px;
    border: 1.5px solid rgba(232, 111, 24, 0.7);
    max-height: 8rem;
    margin-top: -8rem;
}
.main-one-interior-pc button{
    background-color: #f8763e;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-weight: 600;
    text-transform: capitalize;
    border: none;
    border-radius: 1rem;
    letter-spacing: 0.1rem;
    cursor: pointer;
    text-decoration: none;
}
.dot1 {
    height: 10px;
    width: 10px;
    background-color: #f8763e;
    border-radius: 50%;
    display: inline-block;
}
.dot2 {
    height: 10px;
    width: 10px;
    background-color: #f1b38d;
    border-radius: 50%;
    display: inline-block;
}
.main-one hr{
    border: 2px dotted #333;
}
.main-one-interior{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.main-one-interior-pc{
    text-align: right;
}
.main-one-interior-pc img{
    width: 4rem;
    margin-top: -1.5rem;
}
.main-one-interior-wallet h6{
    color: #fefefe;
}
.main-one-interior-pc h6{
    color: #fefefe;
}
.main-one-interior-dot{
    text-align: right;
    margin-top: 1rem;
}
.main-one-interior-down h6{
    color: #e0d9d999;
}
.main-one-interior-down img{
    width: 0.7rem;
    margin-left: 0.5rem;
}
.main-one-interior-down p{
    color: #f1b38d;
}
.main-one-interior-down hr{
    border: 2px solid #f1b38d !important;
}
.main-one-interior-bottom{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
}
.sidebar{
    width: 20%;
    background-color: white;
    height: auto;
    position: absolute;
    z-index: 1000;
    margin-left: 80%;
    display: none;
}
.sidebar{
    padding: 1rem 2rem;
    text-align: right;
}
.sidebar-buttons a{
    background-color: #0e1428;
    color: #faf9f9;
    font-size: 0.8;
    font-weight: 400;
    padding: 10px 2rem;
    display: inline-block;
    border-radius: 20px;
    text-decoration: none;
    margin-bottom: 1rem;
}
.sidebar-buttons a img{
    width: 1rem;
    margin-right: 0.5rem;
}
.sidebar-buttons{
    margin-top: 1rem;
}



@media(max-width:567px){
    nav{
        background-color: rgba(1, 7, 17, 0.95);
        padding: 1rem 10px;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .main{
        background-color: rgb(14,20,40);
        height: auto;
        padding: 5rem 10px;
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 2rem;
        font-family: "Outfit", sans-serif;
    }
    .main-one{
        background-image: linear-gradient(to right bottom, #0e1428, rgba(14, 20, 40, 0.5));
        box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048);
        padding: 3rem 10px;
        border-radius: 6px;
        border: 1.5px solid rgba(232, 111, 24, 0.7);
        max-height: 23rem;
    }
    .main-one-interior-bottom{
        display: grid;
        grid-template-columns: 1fr ;
        column-gap: 1rem;
    }
    .main-one-bottom{
        background-color: rgba(1, 7, 17, 0.8);
        box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048);
        padding: 2rem 1rem;
        border-radius: 6px;
        border: 1.5px solid rgba(232, 111, 24, 0.7);
        max-height: 8rem;
        margin-top: 0rem;
    }
    .sidebar{
        width: 100%;
        background-color: white;
        height: auto;
        position: absolute;
        z-index: 1000;
        margin-left: 0%;
        display: none;
    }
    
}


@media(min-width:568px) and (max-width:800px){
    .main{
        background-color: rgb(14,20,40);
        height: 120vh;
        padding: 5rem 3rem;
        display: grid;
        grid-template-columns: 1fr 1fr ;
        grid-gap: 1rem;
        font-family: "Outfit", sans-serif;
    }
    .main-one-bottom{
        background-color: rgba(1, 7, 17, 0.8);
        box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048);
        padding: 2rem 1rem;
        border-radius: 6px;
        border: 1.5px solid rgba(232, 111, 24, 0.7);
        max-height: 8rem;
        margin-top: 0rem;
    }
    .main-one-interior-bottom{
        display: grid;
        grid-template-columns: 1fr ;
        column-gap: 1rem;
    }
    .main-one{
        background-image: linear-gradient(to right bottom, #0e1428, rgba(14, 20, 40, 0.5));
        box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048);
        padding: 3rem 1rem;
        border-radius: 6px;
        border: 1.5px solid rgba(232, 111, 24, 0.7);
        max-height: 23rem;
    }
    .sidebar{
        width: 40%;
        background-color: white;
        height: auto;
        position: absolute;
        z-index: 1000;
        margin-left: 60%;
        display: none;
    }
}




@media(min-width:801px) and (max-width:1200px){
    .main{
        background-color: rgb(14,20,40);
        height: 120vh;
        padding: 5rem 1rem;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 1rem;
        font-family: "Outfit", sans-serif;
    }
    .main-one-interior-bottom{
        display: grid;
        grid-template-columns: 1fr ;
        column-gap: 1rem;
    }
    .main-one{
        background-image: linear-gradient(to right bottom, #0e1428, rgba(14, 20, 40, 0.5));
        box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048);
        padding: 3rem 1rem;
        border-radius: 6px;
        border: 1.5px solid rgba(232, 111, 24, 0.7);
        max-height: 23rem;
    }
    .sidebar{
        width: 30%;
        background-color: white;
        height: auto;
        position: absolute;
        z-index: 1000;
        margin-left: 70%;
        display: none;
    }
}